<div class="wrapper">
    <div class="page-header page-header-xs banner">
        <div class="content-center">
            <div class="container">
                <img class="smart-width"
                    src="https://static.ishaoutreach.org/static/assets/rudraksha-diksha/img/rudraksh-logo.svg">
                <h3></h3>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="section">
            <div class="container">
                <h2 class="mb-5 mt-1">Postal Address Verification</h2>

                <div *ngIf="m_status === StatusCodes.FOUND">
                    <p class="mt-2">We would kindly ask that you provide us with your full and accurate postal address.<br/>
                        If any details are inaccurate or incomplete, we will not be able to send your Rudraksha Diksha
                        package.
                    </p>
                    <form class="mt-5" [formGroup]="m_rudrakshForm">
                        <div class="form-group row">
                            <label for="first_name" class="col-sm-2 col-form-label">
                                First Name<span class="text-danger">&nbsp;*</span>
                            </label>
                            <div class="col-sm-5">
                                <input class="form-control" name="first_name" formControlName="first_name"
                                    [ngClass]="{ 'is-valid': isFieldValid(formControls.first_name), 'is-invalid': isFieldInValid(formControls.first_name) }">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="last_name" class="col-sm-2 col-form-label">
                                Last Name<span class="text-danger">&nbsp;*</span>
                            </label>
                            <div class="col-sm-5">
                                <input class="form-control" name="last_name" formControlName="last_name"
                                    [ngClass]="{ 'is-valid': isFieldValid(formControls.last_name), 'is-invalid': isFieldInValid(formControls.last_name) }">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-sm-2 col-form-label">
                                Email<span class="text-danger">&nbsp;*</span>
                            </label>
                            <div class="col-sm-5">
                                <input class="form-control" name="email" formControlName="email"
                                    [ngClass]="{ 'is-valid': isFieldValid(formControls.email), 'is-invalid': isFieldInValid(formControls.email) }">
                            </div>
                        </div>
                        <h3>Address</h3>

                        <div class="form-group row ml-2">
                            <div class="col-sm-4 row">
                                <label for="country" class="col-form-label">
                                    Country<span class="text-danger">&nbsp;*</span>
                                </label>
                                <select class="form-control" formControlName="country"
                                    [ngClass]="{ 'is-valid': isFieldValid(formControls.country), 'is-invalid': isFieldInValid(formControls.country) }">
                                    <option value="AL">Albania</option>
                                    <option value="AD">Andorra</option>
                                    <option value="AM">Armenia</option>
                                    <option value="AT">Austria</option>
                                    <option value="AZ">Azerbaijan</option>
                                    <option value="BY">Belarus</option>
                                    <option value="BE">Belgium</option>
                                    <option value="BA">Bosnia and Herzegovina</option>
                                    <option value="BG">Bulgaria</option>
                                    <option value="HR">Croatia</option>
                                    <option value="CY">Cyprus</option>
                                    <option value="CZ">Czechia</option>
                                    <option value="DK">Denmark</option>
                                    <option value="EE">Estonia</option>
                                    <option value="FI">Finland</option>
                                    <option value="FR">France</option>
                                    <option value="GE">Georgia</option>
                                    <option value="DE">Germany</option>
                                    <option value="GR">Greece</option>
                                    <option value="HU">Hungary</option>
                                    <option value="IS">Iceland</option>
                                    <option value="IE">Ireland</option>
                                    <option value="IT">Italy</option>
                                    <option value="KZ">Kazakhstan</option>
                                    <option value="XK">Kosovo</option>
                                    <option value="LV">Latvia</option>
                                    <option value="LI">Liechtenstein</option>
                                    <option value="LT">Lithuania</option>
                                    <option value="LU">Luxembourg</option>
                                    <option value="MT">Malta</option>
                                    <option value="MD">Moldova</option>
                                    <option value="MC">Monaco</option>
                                    <option value="ME">Montenegro</option>
                                    <option value="NL">Netherlands</option>
                                    <option value="MK">North Macedonia (formerly Macedonia)</option>
                                    <option value="NO">Norway</option>
                                    <option value="PL">Poland</option>
                                    <option value="PT">Portugal</option>
                                    <option value="RO">Romania</option>
                                    <option value="RU">Russia</option>
                                    <option value="SM">San Marino</option>
                                    <option value="RS">Serbia</option>
                                    <option value="SK">Slovakia</option>
                                    <option value="SI">Slovenia</option>
                                    <option value="ES">Spain</option>
                                    <option value="SE">Sweden</option>
                                    <option value="CH">Switzerland</option>
                                    <option value="TR">Turkey</option>
                                    <option value="UA">Ukraine</option>
                                    <option value="GB">United Kingdom (UK)</option>
                                    <option value="VA">Vatican City (Holy See)</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="formControls.country.value == 'GB'; else regularStyle" class="form-group row ml-2">
                            <div class="col-sm-4 row">
                                <label for="house_number" class="col-form-label">
                                    House number<span class="text-danger">&nbsp;*</span>
                                </label>
                                <input class="form-control" name="house_number" formControlName="house_number"
                                    placeholder="Flat, suite, unit, building, floor, etc."
                                    [ngClass]="{ 'is-valid': isFieldValid(formControls.house_number), 'is-invalid': isFieldInValid(formControls.house_number) }">
                            </div>
                            <div class="col-sm-4 row mr-2">
                                <label for="street" class="col-form-label">
                                    Street<span class="text-danger">&nbsp;*</span>
                                </label>
                                <input class="form-control" name="street" formControlName="street"
                                    placeholder="Street address, P.O. box, company name, c/o"
                                    [ngClass]="{ 'is-valid': isFieldValid(formControls.street), 'is-invalid': isFieldInValid(formControls.street) }">
                            </div>
                        </div>
                        <ng-template #regularStyle>
                            <div class="form-group row ml-2">
                                <div class="col-sm-4 row mr-2">
                                    <label for="street" class="col-form-label">
                                        Street<span class="text-danger">&nbsp;*</span>
                                    </label>
                                    <input class="form-control" name="street" formControlName="street"
                                        placeholder="Street address, P.O. box, company name, c/o"
                                        [ngClass]="{ 'is-valid': isFieldValid(formControls.street), 'is-invalid': isFieldInValid(formControls.street) }">
                                </div>
                                <div class="col-sm-4 row">
                                    <label for="house_number" class="col-form-label">
                                        House number<span class="text-danger">&nbsp;*</span>
                                    </label>
                                    <input class="form-control" name="house_number" formControlName="house_number"
                                        placeholder="Flat, suite, unit, building, floor, etc."
                                        [ngClass]="{ 'is-valid': isFieldValid(formControls.house_number), 'is-invalid': isFieldInValid(formControls.house_number) }">
                                </div>
                            </div>
                        </ng-template>
                        <div class="form-group row ml-2">
                            <div class="col-sm-4 row mr-2">
                                <label for="city" class="col-form-label">
                                    City<span class="text-danger">&nbsp;*</span>
                                </label>
                                <input class="form-control" name="city" formControlName="city"
                                    [ngClass]="{ 'is-valid': isFieldValid(formControls.city), 'is-invalid': isFieldInValid(formControls.city) }">
                            </div>
                            <div class="col-sm-2 row mr-2">
                                <label for="postcode" class="col-form-label">
                                    Postcode<span class="text-danger">&nbsp;*</span>
                                </label>
                                <input class="form-control" name="postcode" formControlName="postcode"
                                    [ngClass]="{ 'is-valid': isFieldValid(formControls.postcode), 'is-invalid': isFieldInValid(formControls.postcode) }">
                            </div>

                        </div>


                        <div class="form-group row mt-5">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-danger" (click)="submitForm()">
                                    <i class="nc-icon nc-spaceship" style="font-size: 18px;"></i>&nbsp;&nbsp;
                                    Submit
                                </button>
                            </div>
                        </div>

                    </form>
                </div>

                <div *ngIf="m_status === StatusCodes.OK">
                    <!-- When data is succesfully updated -->
                    <h5>
                        Your address has been updated successfully. If all the details are correct, you will be
                        receiving your Rudraksh package within 2-6 weeks depending on your country of residence.
                    </h5>
                </div>
                <div *ngIf="m_status === StatusCodes.LOCKED">
                    <!-- When the user is trying to update the data again -->
                    <h5>
                        You have already updated your address successfully. If all the details are correct, you will be
                        receiving your Rudraksh package within 2-6 weeks depending on your country of residence.
                    </h5>
                </div>
                <div *ngIf="m_status === StatusCodes.NOT_FOUND">
                    <!-- When such a record is not found -->
                    <h5>
                        Incorrect / Corrupted data. This record was not found in our database. Please contact
                        <a href="mailto:rudraksha.europe@ishafoundation.org">rudraksha.europe@ishafoundation.org</a>
                        for any questions.
                    </h5>
                </div>
                <div *ngIf="m_status === StatusCodes.BAD_REQUEST">
                    <!-- When there's a technical problem or something wrong with data provided -->
                    <h5>
                        A technical error occured while trying to save your data. Please try again or contact <a
                            href="mailto:rudraksha.europe@ishafoundation.org">rudraksha.europe@ishafoundation.org</a>
                        for support.
                    </h5>
                </div>

            </div>
        </div>
    </div>
</div>