// Desktop
@media only screen and (min-width: 415px) {
    .smart-width {
        width: auto;
    }
    .banner {
        background-image: url("https://static.ishaoutreach.org/static/assets/rudraksha-diksha/img/web-banner-v-1@2x.jpg");
    }
}

// Mobile
@media only screen and (max-width: 415px) {
    .smart-width {
        width: 100%;
    }
    .banner {
        background-image: url("https://static.ishaoutreach.org/static/assets/rudraksha-diksha/img/mobile-banner.jpg");
    }
}

form {
    background-color: #fff !important;
    font-family: "WF-028154-009464-000003";
    opacity: 0.99;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-break: keep-all;
}

p {
    font-family: "WF-028154-009464-000003";
}

.icon-size {
    font-size: 18px;
}

input, select, textarea {
    font-family: "WF-028154-009464-000003";
}