<nav class="navbar navbar-expand-lg fixed-top nav-down" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <div class="navbar-header">
                <a class="navbar-brand" [routerLink]="['/landing']">Samarpanam</a>
            </div>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
                data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <div ngbDropdown class="nav-item dropdown">
                    <div class="nav-link dropdown-toggle" ngbDropdownToggle>Requests</div>
                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right dropdown-danger">
                        <a ngbDropdownItem [routerLink]="['/landing']"><i class="nc-icon nc-bullet-list-67"></i>All
                            Requests</a>
                        <a ngbDropdownItem [routerLink]="['/request']"><i class="nc-icon nc-basket"></i>Create New</a>
                    </div>
                </div>
                <div ngbDropdown class="nav-item dropdown">
                    <div class="nav-link dropdown-toggle" ngbDropdownToggle>User</div>
                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right dropdown-danger">
                        <a class="dropdown-item" (click)="logout()" [routerLink]="['/request']" fragment="headers"><i
                                class="nc-icon nc-key-25"></i>&nbsp; Logout</a>
                    </div>
                </div>
                <li class="nav-item">
                    <a class="btn btn-round btn-danger" [routerLink]="['/request']">
                        <i class="nc-icon nc-basket"></i>&nbsp; New Request
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>