<div class="wrapper">
    <div class="page-header" style="background-image: url('assets/img/Dhyanalinga-Entrance.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 ml-auto mr-auto">
                    <div class="card card-register" style="margin: auto;">
                        <h3 class="card-title">Login</h3>
                        <form class="register-form" [formGroup]="m_loginForm" novalidate>
                            <label>Email</label>
                            <input type="email" class="form-control no-border" placeholder="Email"
                                formControlName="email">

                            <label>Password</label>
                            <input type="password" class="form-control no-border" placeholder="Password"
                                formControlName="password">
                            <button class="btn btn-danger btn-block btn-round" type="button"
                                (click)="onLogin();">Login</button>
                        </form>
                        <button class="btn btn-secondary btn-block btn-round" type="button"
                            (click)="onGoogleSignIn();">Sign In with Google</button>
                        <div class="forgot">
                            <a href="javascript:void(0)" class="mt-2 btn btn-link btn-danger">Forgot password?</a>
                        </div>
                        <div class="forgot">
                            <a href="javascript:void(0)" class="mt-1 btn btn-link btn-danger"
                                (click)="open(Login)">Register New</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <h6 class="pt-4">made with <i class="fa fa-heart heart"></i> by Isha Volunteers</h6>
            </div>

            <!-- Modal for registration -->
            <ng-template #Login let-c="close" let-d="dismiss">
                <div class="modal-header modal-register no-border-header text-center">
                    <button type="button" class="close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title text-center">Samarpanam</h3>
                    <p class="text-center">Register for a new account</p>
                </div>
                <div class="modal-body">
                    <form class="register-form" [formGroup]="m_registrationForm" novalidate>

                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" value="" formControlName="firstName"
                                placeholder="How would you like to be called?" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" value="" formControlName="lastName"
                                placeholder="Just in case there are multiple Shankarans" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" formControlName="email" placeholder="email">
                        </div>

                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" formControlName="password"
                                placeholder="Something very secret" />
                        </div>
                        <div class="form-group">
                            <label>Password Again</label>
                            <input type="password" class="form-control"
                                placeholder="Just testing your typing skills (or may be your patience 😋)"
                                formControlName="passwordAgain" />
                        </div>
                        <button class="btn btn-block btn-round" (click)="onRegister()">Register</button>
                    </form>
                </div>
                <div class="modal-register modal-footer no-border-footer">
                    <span class="text-muted text-center">Or just <a>Sign-up with Google</a> ?</span>
                </div>
            </ng-template>
        </div>
    </div>
</div>