<div class="wrap">
    <div class="section">
        <div class="container">
            <h1 class="mb-5">Email Requests</h1>
            <div class="row">
                <div class="col-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="text-align: left;">
                            <h6 class="filter-heading">Filter by Status</h6>
                            <button type="button" class="btn btn-link btn-filter-list" (click)="sayIncubating()">
                                <i class="nc-icon nc-atom"></i>&nbsp;&nbsp;All
                            </button>
                            <button type="button" class="btn btn-link btn-filter-list" (click)="sayIncubating()">
                                <i class="nc-icon nc-cart-simple"></i>&nbsp;&nbsp;Submitted
                            </button>
                            <button type="button" class="btn btn-link btn-filter-list" (click)="sayIncubating()">
                                <i class="nc-icon nc-user-run"></i>&nbsp;&nbsp;Ongoing
                            </button>
                            <button type="button" class="btn btn-link btn-filter-list" (click)="sayIncubating()">
                                <i class="nc-icon nc-check-2"></i>&nbsp;&nbsp;Completed
                            </button>
                        </li>
                        <li class="list-group-item" style="text-align: left;">
                            <h6 class="filter-heading">Filter by Audience</h6>
                            <button type="button" class="btn btn-link btn-filter-list" (click)="sayIncubating()">
                                <i class="nc-icon nc-atom"></i>&nbsp;&nbsp;All
                            </button>
                            <button type="button" class="btn btn-link btn-filter-list" (click)="sayIncubating()">
                                <i class="nc-icon nc-note-03"></i>&nbsp;&nbsp;Meditators
                            </button>
                            <button type="button" class="btn btn-link btn-filter-list" (click)="sayIncubating()">
                                <i class="nc-icon nc-planet"></i>&nbsp;&nbsp;IEO
                            </button>
                            <button type="button" class="btn btn-link btn-filter-list" (click)="sayIncubating()">
                                <i class="nc-icon nc-laptop"></i>&nbsp;&nbsp;IEO in Progress
                            </button>
                        </li>

                    </ul>
                </div>
                <div class="col-9">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" *ngFor="let request of m_requestsList.results">
                            <div class="row">
                                <div class="col-5">
                                    <h5 class="link-danger" style="cursor: pointer;" [routerLink]="['/detail', request.id]">
                                        {{request.id}}.&nbsp;{{request.email_subject}}
                                    </h5>
                                </div>
                                <div class="col-4">
                                    <span [ngClass]="request.status.style"
                                        class="badge badge-pill">{{request.status.status}}</span>
                                </div>
                                <div class="col-3" style="text-align: right;">
                                    <button type="button" ngbTooltip="View Details" class="btn btn-info btn-link"
                                    [routerLink]="['/detail', request.id]">
                                        <i class="nc-icon nc-zoom-split"></i>
                                    </button>
                                    <button type="button" ngbTooltip="Edit" class="btn btn-danger btn-link"
                                        [routerLink]="'/request'" [queryParams]="{edit: request.id}">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="">Requested by: {{request.created_by}}</div>
                            <div class="mt-0.5">Expected Delivery: {{request.expected_delivery}}</div>
                            <div class="mt-0.5" *ngIf="request.email_type">Type: {{request.email_type}}</div>
                        </li>
                        <li class="list-group-item" *ngIf="m_requestsList.results.length > 0">
                            <div class="col-12">
                                <button type="button" class="btn btn-danger btn-round float-right" style="margin-top: 30px;"
                                    [disabled]="this.m_requestsList.next === null"
                                    (click)="getRequestListByPage(m_requestsList.next)"><i
                                        class="fa fa-refresh"></i>&nbsp;Load&nbsp;More</button>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>


        </div>
    </div>
</div>