li {
    font-family: "WF-028154-009464-000003";
}

.badge {
    text-transform: capitalize;
}

.fa {
    font-size: large;
}

.nc-icon {
    font-size: large;
}

.btn-filter-list {
    text-transform: capitalize;
    padding: 3px 0;
    font-weight: lighter;
    display: block; 
}

.filter-heading {
    text-transform: capitalize;
    font-size: 1em;
}