:host {
    position: fixed;
    text-align: center;
    min-width: 300px;
    top: auto !important;
    bottom: 10%;
    left: 50%;
    right: auto !important;
    transform: translate(-50%, 0);
    z-index: 1;
}