<div class="wrap">
    <div class="section">
        <div class="mt-5 container" *ngIf="this.requestDetails">
            <div class="container">
                <ul class="progressbar">
                    <li [ngClass]="{'active' : this.requestDetails.status.step >= 1}">Pending</li>
                    <li [ngClass]="{'active' : this.requestDetails.status.step >= 2}">Accepted</li>
                    <li [ngClass]="{'active' : this.requestDetails.status.step >= 3}">In Progress</li>
                    <li [ngClass]="{'active' : this.requestDetails.status.step >= 4}">Waiting for Approvals</li>
                    <li [ngClass]="{'active' : this.requestDetails.status.step >= 5}">All Approved</li>
                    <li [ngClass]="{'active' : this.requestDetails.status.step == 6}">Email Sent</li>
                </ul>
                <br><br><br><br><br><br>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <h1>
                        Request #{{this.requestDetails.id}}
                    </h1>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-danger btn-round float-right" style="margin-top: 30px;"
                        [routerLink]="'/request'" [queryParams]="{edit: this.requestDetails.id}"><i
                            class="fa fa-edit"></i>&nbsp;Edit&nbsp;Request</button>
                </div>
            </div>

            <div *ngIf="this.requestDetails && this.isAdmin">
                <h3>Workflow</h3>
                <div class="row my-3">
                    <button type="button" class="btn btn-default btn-round mr-1"
                        [disabled]="this.requestDetails.status.step != 1" (click)="changeStep(2)">Accept</button>
                    <button type="button" class="btn btn-primary btn-round mr-1"
                        [disabled]="this.requestDetails.status.step != 2"
                        (click)="changeStep(3)">Start&nbsp;Working</button>
                    <button type="button" class="btn btn-info btn-round mr-1"
                        [disabled]="this.requestDetails.status.step != 3"
                        (click)="changeStep(4)">Review&nbsp;Sent</button>
                    <button type="button" class="btn btn-success btn-round mr-1"
                        [disabled]="this.requestDetails.status.step != 5"
                        (click)="open(CompleteRequest)">Mark&nbsp;as&nbsp;Complete</button>
                    <button type="button" class="btn btn-warning btn-round mr-1"
                        [disabled]="this.requestDetails.status.step == 6" (click)="changeStep(7)">Reject</button>
                </div>
            </div>
            <div class="row">
                <!-- Modal for request completion -->
                <ng-template #CompleteRequest let-c="close" let-d="dismiss">
                    <div class="modal-header modal-register no-border-header text-center">
                        <button type="button" class="close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3 class="modal-title text-center">Samarpanam</h3>
                        <p class="text-center">Mark as complete</p>
                    </div>
                    <div class="modal-body">
                        <form class="register-form" [formGroup]="m_requestCompletionForm" novalidate>
                            <div class="form-group">
                                <label>Email Providers</label>
                                <select class="form-select form-control" name="email_provider"
                                    formControlName="email_provider">
                                    <option *ngFor="let provider of m_emailProviders" [value]="provider.email_provider">
                                        {{provider.email_provider_desc}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Email Provider Request Ref</label>
                                <input class="form-control" type="text" value=""
                                    formControlName="email_provider_request_ref" />
                            </div>
                            <button class="btn btn-block btn-success btn-round mr-1" (click)="completeRequest()">Mark as
                                complete</button>
                        </form>
                    </div>
                </ng-template>
                <div class="col-sm-6">
                    <h3>
                        General Details
                    </h3>
                    <div class="mt-2">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th scope="row">Email Type</th>
                                    <td>
                                        <span *ngIf="this.requestDetails.email_type">
                                            {{this.requestDetails.email_type.email_type}}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Requested by</th>
                                    <td>{{this.requestDetails.created_by}} on {{this.requestDetails.created_at}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">To be sent on</th>
                                    <td>{{this.requestDetails.expected_delivery}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Subject</th>
                                    <td>{{this.requestDetails.email_subject}}</td>
                                </tr>                                
                                <tr *ngIf="this.requestDetails.template" >
                                    <th scope="row">Template</th>
                                    <td><a target="blank" href="{{this.requestDetails.template}}">View</a>
                                    &nbsp;|&nbsp;
                                    <a href="{{this.requestDetails.template}}" download>Download</a> </td>                                   
                                </tr>
                                <tr>
                                    <th scope="row">Audience</th>
                                    <td>
                                        <p *ngFor="let audience of this.requestDetails.audience">
                                            {{audience.name}}
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Sent From</th>
                                    <td>{{this.requestDetails.from_address}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Extra Details</th>
                                    <td>{{this.requestDetails.details}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h3>
                        Review Details
                    </h3>
                    <div class="mt-2">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>Reviewer</th>
                                    <th>Email</th>
                                    <th>Approvals</th>
                                </tr>
                                <tr *ngFor="let review of this.requestDetails.reviews">
                                    <td>{{review.reviewer.name}}</td>
                                    <td>{{review.reviewer.email}}</td>
                                    <td>
                                        <div *ngIf="isCurrentUserPendingReview(review); else elseBlock" class="row">
                                            <button type="button"
                                                class="btn btn-magnify btn-success btn-just-icon btn-sm mx-2"
                                                (click)="approveRequest(review)" ngbTooltip="Click to Approve"><i
                                                    class="nc-icon nc-check-2" aria-hidden="true"></i></button>
                                            <button type="button"
                                                class="btn btn-magnify btn-warning btn-just-icon btn-sm mx-1"
                                                ngbTooltip="Click to send a comment"><i
                                                    class="nc-icon nc-chat-33"></i></button>
                                        </div>
                                        <ng-template #elseBlock>
                                            <i [ngClass]="getApprovalIcon(review.approved)" aria-hidden="true"></i>
                                        </ng-template>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div *ngIf="this.requestDetails && this.requestDetails.status.step == 6" class="col-sm-12">
                    <ngb-accordion #acc="ngbAccordion" (panelChange)="beforeAccordionChange($event)">
                        <ngb-panel id="panel-1">                            
                            <ng-template ngbPanelTitle>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h3>
                                            <i  [ngClass]="{'fa':true, 'fa-chevron-down': this.collapsed, 'fa-chevron-up': !this.collapsed}"></i>
                                            &nbsp;&nbsp;Email Stats
                                        </h3>
                                    </div>
                                    <div class="col-sm-6">
                                        <p style="margin-top: 20px;">
                                            (Sent from {{this.requestDetails.email_provider_desc}} -
                                            {{this.requestDetails.email_provider_request_ref}})
                                        </p>
                                        
                                    </div>
                                </div>
                            </ng-template>  
                            <ng-template ngbPanelContent *ngIf="this.m_emailStats">
                                <div class="row">
                                    <div class="col-6">
                                        <ul class="leaders">
                                            <li>
                                                <span>Successful deliveries</span>
                                                <span>{{this.m_emailStats.successul_deliveries}}</span>
                                            </li>
                                            <li>
                                                <span>Unique opens</span>
                                                <span>{{this.m_emailStats.unique_opens}}</span>
                                            </li>
                                            <li>
                                                <span>Unique clicks</span>
                                                <span>{{this.m_emailStats.unique_clicks}}</span>
                                            </li>
                                            <li>
                                                <span>Total clicks</span>
                                                <span>{{this.m_emailStats.total_clicks}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-6">
                                        <ul class="leaders">
                                            <li>
                                                <span>Abuse reports</span>
                                                <span>{{this.m_emailStats.abuse_reports}}</span>
                                            </li>
                                            <li>
                                                <span>Unsubscribed</span>
                                                <span>{{this.m_emailStats.unsubscribed}}</span>
                                            </li>
                                            <li>
                                                <span>Sent at</span>
                                                <span>{{this.m_emailStats.sent_at}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>
            </div>
        </div>
    </div>
</div>