table tr {
  font-family: "WF-028154-009464-000003";
}

table td {
  font-family: "WF-028154-009464-000003";
}

a, p {
  font-family: "WF-028154-009464-000003";
}

.progressbar {
  counter-reset: step;
}
.progressbar li {
  list-style-type: none;
  width: 16%; // 100 / (no. of steps)
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
}
.progressbar li:before {
  width: 70px;
  height: 70px;
  content: counter(step);
  counter-increment: step;
  line-height: 68px;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background: white;
  position: relative;
  z-index: 10;
}
.progressbar li:after {
  width: 100%;
  height: 7px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: 31px;
  left: -50%;
  z-index: 1;
}
.progressbar li:first-child:after {
  content: none;
}

.progressbar li.active {
  color: green;
}

.progressbar li.active:before {
  border-color: #55b776;
}

.progressbar li.active:after {
  background-color: #55b776;
}

.form-control {
  border: 1px solid #DDDDDD !important;
}

.leaders {
  overflow-x: hidden
}

.leaders li {
  margin-bottom: 12px;
}

.leaders li>span {
  background-color: #ffffff
}

.leaders li>span:first-child {
  padding-right: 12px
}

.leaders li>span+span {
  float: right;
  padding-left: 12px
}

.leaders li:last-child {
  margin-bottom: 0
}