<div class="wrap">
    <div class="section">
        <div class="container">
            <h1 *ngIf="m_viewType === ViewType.Create">Let's reachout to the world</h1>
            <h2 *ngIf="m_viewType === ViewType.Edit">Updating request #{{m_reqId}}</h2>
            <h2 *ngIf="m_viewType === ViewType.Observe">Request #{{m_reqId}}</h2>

            <form class="mt-5" [formGroup]="m_requestForm" novalidate>
                <div class="form-group row">
                    <label for="email_subject" class="col-sm-2 col-form-label">
                        Email Subject<span class="text-danger"> *</span>
                    </label>
                    <div class="col-sm-5">
                        <input class="form-control" name="email_subject" formControlName="email_subject"
                            placeholder="What's the subject line for this campaign?">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="from_address" class="col-sm-2 col-form-label">
                        From Address
                    </label>
                    <div class="col-sm-5">
                        <input class="form-control" name="from_address" formControlName="from_address"
                            placeholder="default is uk@ishafoundation.org">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="audience" class="col-sm-2 col-form-label">
                        Who's our audience?<span class="text-danger"> *</span>
                    </label>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <angular2-multiselect [data]="m_audienceDropdownList" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="m_audienceSelectedItems" [settings]="m_audienceDropdownSettings">
                            </angular2-multiselect>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="expected_delivery" class="col-sm-2 col-form-label">
                        When is this email expected to be sent?<span class="text-danger"> *</span>
                    </label>
                    <div class="col-sm-5 mt-2">
                        <div class="input-group">
                            <input class="form-control" name="expected_delivery" formControlName="expected_delivery"
                                placeholder="No day is bad for an email. Ah but not today 😉" angular-mydatepicker
                                [options]="m_datePickerOptions" #dp="angular-mydatepicker" (click)="dp.toggleCalendar()"
                                (dateChanged)="onDateChanged($event)" />

                            <div class="input-group-append">
                                <button *ngIf="m_isDateSelected" type="button" class="btn btn-secondary"
                                    (click)="dp.clearDate()">
                                    <i class="fa fa-close"></i>
                                </button>
                            </div>

                            <div class="input-group-append">
                                <button type="button" class="btn btn-secondary" (click)="dp.toggleCalendar()">
                                    <i class="fa fa-calendar-o"></i>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group row">
                    <label for="audience" class="col-sm-2 col-form-label">
                        Who's gonna review?<span class="text-danger"> *</span>
                    </label>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <angular2-multiselect class=".c-btn2" [data]="m_reviwersDropdownList"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="m_reviwersSelectedItems"
                                [settings]="m_reviwersDropdownSettings">
                            </angular2-multiselect>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="audience" class="col-sm-2 col-form-label">
                        Template
                    </label>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <input type="file" class="form-control-file" formControlName="template"
                                (change)="fileChange($event)" accept=".html,.htm">
                        </div>  
                        <a target="blank" href= "{{m_templateUrl}}"> {{m_templateUrl}}</a>                      
                    </div>
                </div>

                <div class="form-group row">
                    <label for="details" class="col-sm-2 col-form-label">Other details</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" id="details" rows="3" name="details" formControlName="details"
                            placeholder="Whatever detail that can help us"></textarea>
                    </div>
                </div>
                <div *ngIf="auth.isAdmin" class="form-group row">
                    <label for="email_type" class="col-sm-2 col-form-label">Email Type</label>
                    <div class="col-sm-5">
                        <select class="form-select form-control" name="email_type" formControlName="email_type">
                            <option *ngFor="let emailType of m_emailTypes" [value]="emailType.id">
                                {{emailType.email_type}}
                            </option>
                        </select>
                    </div>
                </div>
                <div *ngIf="auth.isAdmin" class="form-group row">
                    <label for="status" class="col-sm-2 col-form-label">Current Status</label>
                    <div class="col-sm-5">
                        <select class="form-select form-control" name="status" formControlName="status">
                            <option *ngFor="let statusType of m_statusTypes" [value]="statusType.status">
                                {{statusType.status}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button *ngIf="m_viewType === ViewType.Create" type="submit" class="btn btn-danger"
                            (click)="submitRequest()">
                            <i class="nc-icon nc-spaceship" style="font-size: 18px;"></i>&nbsp;&nbsp;
                            Submit Request
                        </button>
                        <button *ngIf="m_viewType === ViewType.Edit" type="submit" class="btn btn-danger"
                            (click)="updateRequest()">
                            <i class="nc-icon nc-send" style="font-size: 18px;"></i>&nbsp;&nbsp;
                            Update Request
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>