form {
    background-color: #fff !important;
    font-family: "WF-028154-009464-000003";
    opacity: 0.99;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-break: keep-all;
}

p {
    font-family: "WF-028154-009464-000003";
}

.icon-size {
    font-size: 18px;
}

input, select, textarea {
    font-family: "WF-028154-009464-000003";
}